<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1K">
                        <match url="^/?([a-zA-Z0-9]+)$"  />
                        <action type="Rewrite" url="/?{R:1}"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
        	<remove fileExtension=".json" />
        	<mimeMap fileExtension=".json" mimeType="application/json" />
    	</staticContent>
  </system.webServer>  
</configuration>